<!-- Container for large cards -->
<div class="mt-24 mx-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center">
  <ng-container *ngFor="let largeCard of largeCards">
    <app-cards [data]="largeCard"></app-cards>
  </ng-container>
</div>

<!-- Container for small cards -->
<div class="mt-24 mx-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center">
  <ng-container *ngFor="let smallCard of smallCards">
    <app-cards-small [data]="smallCard"></app-cards-small>
  </ng-container>
</div>
